<div class="col-md-4 col-md-offset-4 text-center" id="modal-styles">
<h1>editing list</h1>

<%= render 'form' %>

</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4 text-center">
		<%= link_to 'Show', @list %> |
		<%= link_to 'Back', lists_path %>
	</div>
</div>

