<h1 class="text-center">Listing Lists</h1>
<div class="container">
<div class="text-center all-lists">
  <table class="text-center table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td class="all-lists"><%= link_to list.name, list %></td>
          <%# link_to 'Show', list %>
          <td><%= link_to 'Rename', edit_list_path(list) %></td>
          <td><%= link_to '', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash fa-1x trash' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
  <div class="text-center"><%= link_to 'New List', new_list_path, class: "btn btn-lg btn-primary", remote: true, id: "new_list_link" %></div>
  
</div>
