
<div class="col-md-4 col-md-offset-4 text-center" id="modal-styles">
	<h1>edit item</h1>

	<%= render 'form' %>
	
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4 text-center">
		<%= link_to 'Close', list_todo_items_path(@todo_item.list) %>
	</div>
</div>
