/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body{
  /*background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;*/

  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

#logo{
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}


#modal-styles{
  background-color: #fff;
  width: 400px;
  height: 250px;
  border: 1px solid;
}

.list_title {
	text-align: center;
  text-transform: lowercase;
  padding: 10px;
}
 
.table{
	border-top: solid;
  border-bottom: solid;
	border-color: #d3d3d3;
	border-width: 1px;
  background-color: #fff;
  /*background-image: url(snow.jpg);*/
  /*background-color: #fff; 
  background-image: 
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;*/
}
 
.table td {
	text-align: center;
}
 
.table th {
	text-align: center;
  text-transform: lowercase;
}
 
.space {
	margin: 1px;
}
 
.btn-custom {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
  color: #fff;
  
}
 
.container{
	width: 780px;
}

.fa{
  padding: 1px;
}

a:hover{
  color: #FF3399;
}

.actions{
  padding: 5px;
}

.pencil{
  color: #0066FF;
}

.trash{
  color: #0066FF;
}

/*#new_item:hover{
  color: #66FF33;
}*/




