<!DOCTYPE html>
<html>
<head>
  <title>TodoAgain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="jquery.modal.css" type="text/css" media="screen" />
</head>
<body>

<%= yield %>

</body>
</html>
